
## <summary>policy for monerotrust</summary>


########################################
## <summary>
##	Transition to monerotrust.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`monerotrust_domtrans',`
	gen_require(`
		type monerotrust_t, monerotrust_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, monerotrust_exec_t, monerotrust_t)
')


########################################
## <summary>
##	Execute monerotrust server in the monerotrust domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`monerotrust_initrc_domtrans',`
	gen_require(`
		type monerotrust_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, monerotrust_initrc_exec_t)
')


########################################
## <summary>
##	Search monerotrust lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`monerotrust_search_lib',`
	gen_require(`
		type monerotrust_var_lib_t;
	')

	allow $1 monerotrust_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read monerotrust lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`monerotrust_read_lib_files',`
	gen_require(`
		type monerotrust_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, monerotrust_var_lib_t, monerotrust_var_lib_t)
')

########################################
## <summary>
##	Manage monerotrust lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`monerotrust_manage_lib_files',`
	gen_require(`
		type monerotrust_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, monerotrust_var_lib_t, monerotrust_var_lib_t)
')

########################################
## <summary>
##	Manage monerotrust lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`monerotrust_manage_lib_dirs',`
	gen_require(`
		type monerotrust_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, monerotrust_var_lib_t, monerotrust_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a monerotrust environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`monerotrust_admin',`
	gen_require(`
		type monerotrust_t;
		type monerotrust_initrc_exec_t;
		type monerotrust_var_lib_t;
	')

	allow $1 monerotrust_t:process { ptrace signal_perms };
	ps_process_pattern($1, monerotrust_t)

	monerotrust_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 monerotrust_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, monerotrust_var_lib_t)

')

